<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style th:insert="blocks/style.html :: style"></style>
</head>
<th:block th:each="bgb : ${backgroundBanner}">
    <body style="background-color: grey;" th:background="'/background-banner-image/'+${bgb.getBackgroundBanner()}">
    <header th:insert="blocks/header.html :: header"></header>
    <br>
    <!--Номера телефонов -->
    <div th:each="mainPage : ${mainPages}" style="margin-left: 90%; color: whitesmoke; font-size: large">
        <span th:text="${mainPage.phoneNumber1}"></span><br>
        <span th:text="${mainPage.phoneNumber2}"></span>
    </div>
    <br><br>
    <div style="width: 60%; background-color: floralwhite; margin-left: 20%">
        <div style="width: 95%; margin-left: 1.25%">
            <div th:each="cinema : ${cinemas}">
                <img th:src="@{'/cinema-images/'+ ${cinema.topBanner}}" alt="..." width=93%; style="height: 300px; margin-top: 20px">
                <h3 th:text="${cinema.cinemaTitle}"></h3>
                <img th:src="@{'/cinema-images/'+ ${cinema.hallPlan}}" alt="..." width=93%; style="height: 150px; width: 250px;">
                <a href="timetable"><button class="btn-success" style="height: 75px; width: 300px">Расписание сеансов</button></a>
                <br>
                <div style="display: inline-block"><p th:text="${cinema.description}"></p></div>
                <br>

                <div th:each="hall : ${cinema.getHalls()}">
                    <p></p>
                    <a th:href="'/hall-card/'+${cinema.id}+'/'+${hall.id}"><span th:text="${hall.hallNumber}"></span></a><br>
                </div>


            </div>
        </div>
    </div>

            <header  style="background-color: white" th:insert="blocks/footer.html :: footer"></header>
</body>
</th:block>
</html>