<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style th:insert="blocks/style.html :: style"></style>
</head>
<th:block th:each="bgb : ${backgroundBanner}">
    <body style="background-color: grey;" th:background="'/background-banner-image/'+${bgb.getBackgroundBanner()}">
    <header th:insert="blocks/header.html :: header"></header>
    <!--Номера телефонов -->
    <div th:each="mainPage : ${mainPages}" style="margin-left: 90%; color: whitesmoke; font-size: large">
        <span th:text="${mainPage.phoneNumber1}"></span><br>
        <span th:text="${mainPage.phoneNumber2}"></span>
    </div>
    <br><br>

    <div style="width: 60%; background-color: floralwhite; margin-left: 20%">
        <div style="width: 1200px; margin-left: 1.25%">
            <h3 style="margin-left: 500px">Контакты</h3>
<hr>
            <div th:each="contact : ${contacts}">
                         <div><h4 th:text="${contact.title}"></h4></div>
                        <div><img style="width: 200px; height: 200px" th:attr="src=@{|/contacts-images/${contact.logo}|}"/></div>
                         <div><p th:text="${contact.adress}"></p></div>
                         <div><iframe th:src="${contact.coordinates}" width="400" height="300" style="border:1px;" allowfullscreen="" loading="lazy"></iframe></div>
               <hr>
                <br>
                    </div>

                </div>
        </div>
    <header style="background-color: white" th:insert="blocks/footer.html :: footer"></header>
    </body>
</th:block>
</html>