<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Акции</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style th:insert="blocks/style.html :: style"></style>
</head>

<th:block th:each="bgb : ${backgroundBanner}">
    <body style="background-color: grey;" th:background="'/background-banner-image/'+${bgb.getBackgroundBanner()}">
    <header th:insert="blocks/header.html :: header"></header>
    <!--Номера телефонов -->
    <div th:each="mainPage : ${mainPages}" style="margin-left: 90%; color: whitesmoke; font-size: large">
        <span th:text="${mainPage.phoneNumber1}"></span><br>
        <span th:text="${mainPage.phoneNumber2}"></span>
    </div>
    <br><br>

    <div style="width: 60%; background-color: floralwhite; margin-left: 20%">
        <div>
            <div th:each="stocksUser : ${stocksUsers}" style="display:inline-block; width: 20%; height: max-content; margin-left: 2.5%; margin-right: 2.5%; margin-top: 50px">
                <div>
                      <a th:href="'/stock-card/'+${stocksUser.id}" style="text-decoration: none"><img th:attr="src=@{|/stocks-images/${stocksUser.mainImage}|}" style="width: 100%; height: 300px; margin-top: 0"/>
                      <p th:text="${stocksUser.title}"></p>
                      <p th:text="${stocksUser.publicDate}"></p>
                      <p th:text="${stocksUser.description}"></p></a>
                </div>
            </div>
        </div>
    </div>
<header style="background-color: white" th:insert="blocks/footer.html :: footer"></header>
</body>
</th:block>
</html>