<div th:fragment="film-data">
  <div style="border-style: groove; background-color: #0f2027; width: 400px;">
    <div style="display:inline-block; ">
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Год</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Страна</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Жанр</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Бюджет</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Возраст</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Длительность</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Композитор</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Продюсер</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Режисёр</span><br>
      <span style="color: whitesmoke; background-color: #9e9ca6; width: 700px; margin-left: 10px">Сценарист</span><br>
    </div>
    <div style="display:inline-block; margin-left: 20px">
     <span style="color: whitesmoke; background-color: #9e9ca6;">2018</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">США</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">Триллер</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">200000$</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">18+</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">87 минут</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">Деми Васкес</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">Джонатан Ролетти</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">Хью Стоун</span><br>
     <span style="color: whitesmoke; background-color: #9e9ca6;">Микелла Стюард</span><br>
    </div>
  </div>


</div>